<a href="https://colab.research.google.com/github/ReginaHisaeNakagima/pythonProject4-Collections_parte1/blob/main/Aula6-Ordem_natural.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Listas e operações**

In [4]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [6]:
idades = [39,30,27,18]
type(idades)

list

In [5]:
len(idades)

4

In [7]:
idades[0]

39

In [8]:
idades

[39, 30, 27, 18]

In [10]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [12]:
idades.append(15)

In [13]:
idades

[39, 30, 27, 18, 15]

In [14]:
idades[4]

15

In [15]:
idades[5]

IndexError: ignored

In [16]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [17]:
idades.remove(30)

In [18]:
idades

[39, 27, 18, 15]

In [19]:
idades.remove(30)

ValueError: ignored

In [20]:
idades.append(15)

In [21]:
idades

[39, 27, 18, 15, 15]

In [22]:
idades.remove(15)

In [23]:
idades

[39, 27, 18, 15]

In [25]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27, 27]

In [26]:
idades.remove(27)
idades

[39, 18, 15, 27]

In [27]:
28 in idades

False

In [28]:
15 in idades

True

In [29]:
if 15 in idades:
  idades.remove(15)

In [30]:
idades

[39, 18, 27]

In [31]:
if 28 in idades:
  idades.remove(28)

In [32]:
idades

[39, 18, 27]

In [33]:
idades.append(19)
idades

[39, 18, 27, 19]

In [34]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19]

In [35]:
idades[20, 39, 18]
idades

TypeError: ignored

In [36]:
idades - [20, 39, 18]
idades

TypeError: ignored

In [37]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [38]:
idades.append([27, 19])

In [39]:
idades

[20, 39, 18, [27, 19]]

In [40]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [41]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [42]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [43]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [44]:
[(idade+1) for idade in idades]

[21, 40, 19, 28, 20]

In [45]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [46]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [47]:
[idade for idade in idades if idade > 21]

[39, 27]

In [48]:
[idade + 1 for idade in idades if idade > 21]

[40, 28]

In [50]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [53]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [54]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [55]:
def faz_processamento_de_visualizacao(lista = []):
print(len(lista)
lista.append(13)

IndentationError: ignored

In [56]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista)
  lista.append(13)

SyntaxError: ignored

In [62]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [63]:
faz_processamento_de_visualizacao()

0
[]

In [64]:
faz_processamento_de_visualizacao()

1
[13]

In [65]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [66]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [67]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [68]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [69]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
     lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

#**Objetos próprios**

In [15]:
class ContaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>codigo {} saldo {}<<]".format(self.codigo, self.saldo)

In [6]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>codigo 15 saldo 0<<]

In [7]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>codigo 15 saldo 500<<]

In [9]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>codigo 47685 saldo 1000<<]

In [10]:
contas = [conta_do_gui, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x789cd9eb39a0>, <__main__.ContaCorrente object at 0x789cd9eb35e0>]

In [11]:

contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>>codigo 15 saldo 500<<]
[>>codigo 47685 saldo 1000<<]

In [12]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

print(contas[0])

[>>codigo 15 saldo 500<<]

In [13]:
conta_do_gui.deposita(100)

print(contas[0])

[>>codigo 15 saldo 600<<]

In [14]:
print(conta_do_gui)

[>>codigo 15 saldo 600<<]

In [15]:
print(contas[2])

[>>codigo 15 saldo 600<<]

In [16]:
contas[2].deposita(300)

In [17]:
print(conta_do_gui)

[>>codigo 15 saldo 900<<]

In [18]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>codigo 15 saldo 900<<] [>>codigo 47685 saldo 1000<<]
[>>codigo 15 saldo 1000<<] [>>codigo 47685 saldo 1100<<]

In [19]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>codigo 15 saldo 1000<<] [>>codigo 47685 saldo 1100<<]

In [21]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

In [2]:
guilherme = ('Guilherme', 37, 1981) #tupla
daniela = ('Daniela', 31, 1987)

In [3]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [6]:
usuarios.append(('Paulo', 39, 1979))
usuarios

[('Guilherme', 37, 1981),
 ('Daniela', 31, 1987),
 ('Paulo', 39, 1979),
 ('Paulo', 39, 1979),
 ('Paulo', 39, 1979)]

In [9]:
paulo = ('Paulo', 39, 1979)
usuarios.remove(paulo)
usuarios

[('Guilherme', 37, 1981),
 ('Daniela', 31, 1987),
 ('Paulo', 39, 1979),
 ('Paulo', 39, 1979)]

In [10]:
usuarios.remove(paulo)
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [11]:
usuarios[0]

('Guilherme', 37, 1981)

In [12]:
usuarios[0][0] = 'Guilherme Silveira'

TypeError: ignored

In [16]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [17]:
contas

(<__main__.ContaCorrente at 0x7e954f6fbd60>,
 <__main__.ContaCorrente at 0x7e954f6f9a80>)

In [18]:
for conta in contas:
  print(conta)

[>>codigo 15 saldo 500<<]
[>>codigo 234876 saldo 1000<<]

In [19]:
contas.append(423768)

AttributeError: ignored

In [20]:
contas[0].deposita(300)

In [21]:
for conta in contas:
  print(conta)

[>>codigo 15 saldo 800<<]
[>>codigo 234876 saldo 1000<<]

In [70]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

#**Herança e polimorfismo**

In [17]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [14]:
print(Conta(88))

TypeError: ignored

In [18]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [19]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

AttributeError: ignored

In [26]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [27]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

#**# Evitaremos usar array puro,se precisamos de trabalho numérico, é costume usar o numpy.**

In [28]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [29]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: ignored

In [30]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

In [2]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [3]:
numeros + 3

array([4. , 6.5])

#**Igualdade e o __eq__**

In [27]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [28]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [30]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [31]:
conta1 == conta2

False

In [32]:
contas = [conta1]
conta1 in contas

True

In [33]:
conta2 in contas

False

In [34]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [35]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [36]:
conta1 != conta2

False

In [37]:
conta1 in [conta2]

True

In [38]:
conta2 in [conta1]

True

In [43]:
c

In [44]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [45]:
conta1.deposita(10)

In [46]:
conta1 == conta2

False

In [47]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [52]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

conta1 == conta2

False

In [53]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [55]:
isinstance(ContaCorrente(34), Conta)

True

In [56]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

#**Outros builtins**

In [1]:
idades = [15, 87, 65, 56, 32, 49, 37]

for idade in idades:
  print(idade)

15
87
65
56
32
49
37

In [2]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

range(len(idades))

range(0, 8)

In [3]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i)

0
1
2
3
4
5
6
7

In [4]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [5]:
enumerate(idades)

In [6]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [7]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [8]:
for valor in enumerate(idades):
  print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [9]:
for indice, idade in enumerate(idades):
  print(indice, idade)

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [10]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [11]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: # ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [12]:
for nome, _, _ in usuarios: # ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

#**Ordem natural**

In [13]:
for nome,_,_ in usuarios: # ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

In [14]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [15]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [16]:
15 < 32

True

In [17]:
reversed(idades)

In [18]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [19]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [20]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [21]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [22]:
idades.sort()

In [23]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]